on init

	export PATH /sbin:/system/bin

	export ANDROID_ROOT /system

	mkdir /system
	mkdir /data
	mkdir /mnt
	mount tmpfs nodev /tmp
 
	mkdir /mnt/sdboot 0700 system system
	mount ext4 /dev/block/mmcblk1p3 /mnt/sdboot wait
	mount ext4 /mnt/sdboot/system /system bind
	mount ext4 /mnt/sdboot/data /data bind

	mkdir /data/log 0777
	mkdir /data/anr 0777

	chmod 0666 /dev/log/radio
	chmod 0666 /dev/log/main
	chmod 0666 /dev/log/event    

on boot
#	write /sys/class/sec/switch/usb_sel PDA

	ifup lo
	hostname localhost
	domainname localdomain

	class_start default

service debuggerd /system/bin/debuggerd

#service console /bin/sh
service console /system/bin/sh
	console

service playlpm /system/bin/playlpm
    	user root

service immvibed /system/bin/immvibed 
	oneshot

service lpmkey /system/bin/charging_mode
    	user root
