on early-init
    start ueventd

on init
    export PATH /sbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /sdcard
    mkdir /system
    mkdir /data
    mkdir /cache
    mkdir /tmp
    mount /tmp /tmp tmpfs

on boot
    setprop ro.build.product aries
    setprop ro.product.device aries

    ifup lo
    hostname localhost
    domainname localdomain

    write /dev/graphics/fb3 1

    class_start default

service ueventd /sbin/ueventd
    critical

service recovery /sbin/recovery --show_text

service adbd /sbin/adbd recovery
    disabled

on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd
